body {
  font-family: "Nunito", sans-serif;
}

/* navbar Section */
.navbar {
  z-index: 3;
}
/* hero Section */
.overlay {
  background: rgba(0, 0, 0, 0.5);
}

* {
  z-index: 2;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}

.overlayview {
  background: rgba(0, 0, 0, 0.5);
}

.list p {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.list img {
  padding-right: 10px;
}
